<h1><%= @food.title %></h1>
<p><%= @food.body %></p>

<ul>
  <li><%= link_to "Edit", edit_food_path(@food)%></li>
  <li><%= link_to "Delete", food_path(@food), method: :delete,
    data: { confirm: "Are you sure?" } %></li>
</ul>

<%= link_to "<< Home", root_path %>